/*
Pure CSS Navigation v1.3
by Adam Culpepper | @adamculpepper
https://github.com/adamculpepper/pure-css-navigation
*/

/* //////////////////////////
CUSTOMIZABLE STYLES AT BOTTOM
////////////////////////// */

/* CORE STYLES - NO TOUCHY */
.nav ul,
.nav li					{margin:0; padding:0; list-style:none;}
.nav a					{text-decoration:none; transition:all 300ms;}

/* Level 1 */
.nav ul					{display:flex; flex-wrap:wrap;}
.nav ul li				{white-space:nowrap; text-align:left;}
.nav ul > li			{position:relative;}
.nav ul li a			{display:block;}

/* Level 2 */
.nav ul ul				{visibility:hidden; opacity:0; position:absolute; z-index:1; display:block; transition:all 300ms;}
.nav ul li:hover > ul	{visibility:visible; opacity:1;}

/* Level 3 */
.nav ul ul ul			{top:0; left:100%;}
.nav ul ul ul			{margin-top:5px;}
/* CORE STYLES - NO TOUCHY */

/* ---------- */

/* Justify Navigation (first level equal widths) */
.nav.nav-justified > ul {width:100%;}
.nav.nav-justified > ul > li {flex: 1 1 auto;}
.nav.nav-justified > ul > li > a {justify-content:center; padding:0;}

/* ---------- */

/* Vertical Navigation */
.nav.nav-vertical ul {display:block; width:200px;}
.nav.nav-vertical > ul > li {}
.nav.nav-vertical > ul > li > a {}

/* ---------- */

/* Arrow styles */
.nav ul li a {display:flex; align-items:center;}
.nav ul li a:first-child:nth-last-child(2):after {
	content:'';
	display:inline-block;
	width:10px;
	height:5px;
	margin-left:10px;
	opacity:0.50;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:10px 5px;
	background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 5'%3E%3Cpath opacity='.5' d='M1 1v1h1v1h1v1h1v1h2V4h1V3h1V2h1V1h1V0H0v1z'/%3E%3Cpath d='M2 1v1h1v1h1v1h2V3h1V2h1V1h1V0H1v1z'/%3E%3C/svg%3E");
}
.nav ul ul li a:first-child:nth-last-child(2):before,
.nav ul ul li a:first-child:nth-last-child(2):after {content:'';}
.nav ul ul li a:first-child:nth-last-child(2):before {order:1; margin-left:10px;}
.nav ul ul li a:first-child:nth-last-child(2):after {order:2; margin-left:auto;}

/* ---------- */

/* FontAwesome Icon arrow support */
.nav.nav-font-icons ul li a:first-child:nth-last-child(2):after {
	content:'\f078'; /* arrow: down */
	font-family:'FontAwesome';
	opacity:1;
	width:auto;
	height:auto;
	background:none;
}
.nav.nav-font-icons ul ul li > a:first-child:nth-last-child(2):after {content:'\f054';} /* arrow: right */

/* ---------- */

/* Customizable styles */
.nav ul li a			{color:#555;}

.nav > ul > li			{margin-right:1px;}

/* Level 1 */
.nav ul li				{background:rgba(0, 0, 0, 0.05);}
.nav ul li a			{font-size:1rem; line-height:50px; padding:0 20px;}

/* Level 2 and beyond */
.nav ul ul				{background:#d9d9d9;}
.nav ul ul li a			{font-size:0.8rem; line-height:35px;}

/* Hover colors */
.nav ul li a:hover,
.nav ul li li:hover > a:first-child:nth-last-child(2),
.nav > ul > li:hover > a:first-child:nth-last-child(2) {background:#ddd;}

/* Font icon arrow colors */
.nav > ul > li > a:first-child:nth-last-child(2):after {color:rgba(0, 0, 0, 0.30);}
.nav > ul > li:hover > a:first-child:nth-last-child(2):after {color:rgba(0, 0, 0, 0.60);}
.nav ul li li > a:first-child:nth-last-child(2):after {color:rgba(0, 0, 0, 0.30);}
.nav ul li li:hover > a:first-child:nth-last-child(2):after {color:rgba(0, 0, 0, 0.60);}
